<div class="verticalcenter">
    <a href="#/"><img src="assets/img/logo-big.png" alt="Logo" class="brand" /></a>
    <div class="panel panel-primary">
        <div class="panel-body">
            <h4 class="text-center" style="margin-bottom: 25px;">Please type your email address:</h4>
            <form action="#" class="form-horizontal" style="margin-bottom: 0px !important;" name="form3">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="email" class="form-control" id="login_username" placeholder="Email" ng-model="user.email" required>
                        </div>
                    </div>
                </div>
            </form>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><span ng-bind-html="alert.msg | safe_html"></span></alert>
        </div>
        <div class="panel-footer">
             <a href="#/login" class="pull-left btn btn-link" style="padding-left:0">Back to Login</a>
            <div class="pull-right">
                <a href="#/forgot_pw" class="btn btn-primary" ng-click="send(user)" ng-disabled="form3.$invalid">Send</a>

            </div>
        </div>
    </div>
</div>
