<div id="page-heading">
    <ol class="breadcrumb"  ng-controller="NavigationController">
        <li ng-repeat="item in selectedItems.slice().reverse()">{{item.label}}</li>
    </ol>
    <h1>View Recipes</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>My Recipes</h4>
                    <div class="options">

                    </div>
                </div>
                <div class="panel-body">
                    <!-- INSERT MAIN BODY CODE HERE -->
                    <div class="row">
                        <div class="col-sm-12">
                            <form action="" class="form-horizontal row-border">
                                <div class="form-group">
                                    <div class="input-icon right mb10 col-md-4">
                                        <i class="fa fa-search"></i>
                                        <input type="text" ng-model="searchTerm" class="form-control" placeholder="Filter my recipes">
                                    </div>

                                    <label class="col-sm-1 control-label">By</label>
                                    <div class="col-sm-4">
                                        <input ui-select2="searchByOptions" ng-model="searchBy" style="width:100%"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div ng-repeat="recipe in recipes| searchRecipe:searchTerm:searchBy">
                            <div class="col-sm-4">
                                <panel panel-class="panel-green" heading="{{ recipe.name }}">
                                    <img ng-src="{{ recipe.pic || 'assets/img/recipes/'+getRandomPic($index)}}" alt="{{ recipe.name }}" width="150"> 
                                    <p ng-repeat="ingredient in recipe.ingredients">
                                        {{ ingredient.ingredient || 'empty' }}
                                    </p>
                                    <p> {{ recipe.preparation}}</p>
                                    <p>Mealtime: {{ recipe.mealtime}}</p>
                                    <p>Tracking Points: {{ recipe.points || 'empty' }}</p>
                                </panel>
                            </div>
                            <div ng-class="{clearfix:$index % 3==2}"></div>
                        </div>
                        
                    </div>
                    
                    <!-- MAIN BODY CODE END HERE -->
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

