<script type="text/ng-template" id="agreement.html">
    <div class="modal-header">
        <h3 class="modal-title">User Agreement</h3>
    </div>
    <div class="modal-body">
    	We love to have you in our site, please read this agreement carefully.
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="close()">Close</button>
    </div>
</script>
 
<div class="verticalcenter">
    <a href="#/"><img src="assets/img/logo-big.png" alt="Logo" class="brand" /></a>
    <div class="panel panel-primary">
        <div class="panel-body">
            <h4 class="text-center" style="margin-bottom: 25px;">Sign Up</h4>
            <form action="#" class="form-horizontal" style="margin-bottom: 0px !important;" name="form4">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" id="signup_name" placeholder="Name" ng-model="user.name" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                            <input type="email" class="form-control" id="signup_username" placeholder="Email" ng-model="user.email" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input name="login_pass" id="signup_pass" type="password"  class="form-control" placeholder="Password" ng-model="user.password" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input name="login_pass" id="signup_pass_confirm" type="password"  class="form-control" placeholder="Repeat Password" ng-model="user.password_confirm" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                <div class="checkbox block" style="text-align:center" >
                    <input icheck type="checkbox" ng-model="user.agreement" id="signup_agreement">
                    <span>
                        I accept the <a href="#/" ng-click="openAgreement('lg')">User Agreement</a>
                    </span>
                </div>
                </div>

            </form>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><span ng-bind-html="alert.msg | safe_html"></span></alert>
        </div>
        <div class="panel-footer">
            <a href="#/login" class="pull-left btn btn-link" style="padding-left:0">Back to Login</a>
            <div class="pull-right">
                <a href="#/signup" class="btn btn-success" ng-click="signup(user)" ng-disabled="!isValidForm(user)">Sign up</a>
            </div>
        </div>
    </div>
</div>